## Simple Linear Regression

In [1]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
df = pd.read_csv("Algerian_forest_fires_dataset.csv")

In [5]:
df

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,26,9,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
243,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
244,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
245,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
246,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [6]:
df = df.drop(columns=["Unnamed: 0"])

In [7]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [8]:
# Need to clean the data
df.isnull().sum()

day            1
month          2
year           2
Temperature    2
 RH            2
 Ws            2
Rain           2
FFMC           2
DMC            2
DC             2
ISI            2
BUI            2
FWI            2
Classes        3
dtype: int64

In [9]:
df.dropna()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,5,6,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,26,9,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
243,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
244,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
245,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
246,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [10]:
df.isnull().sum()

day            1
month          2
year           2
Temperature    2
 RH            2
 Ws            2
Rain           2
FFMC           2
DMC            2
DC             2
ISI            2
BUI            2
FWI            2
Classes        3
dtype: int64

In [11]:
sns.set(rc={'figure.figsize':(15,10)})
sns.heatmap(df.corr(),annot=True)

ValueError: zero-size array to reduction operation fmin which has no identity

In [ ]:
sns.scatterplot(df["RH"],df["Temperature"])

In [ ]:
sns.scatterplot(df["FFMC"],df["Temperature"])

In [ ]:
sns.regplot(x="RH",y="Temperature",data=df)

In [ ]:
sns.regplot(x="FFMC",y="Temperature",data=df)

In [ ]:
sns.boxplot(df["FFMC"])

In [ ]:
df.head()

In [ ]:
X = df.iloc[:,4:-2]
Y = df.iloc[:,3]

In [ ]:
X.head()

In [ ]:
Y.head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.33,random_state=42)
X_train

In [ ]:
Y_train

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_test

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regression = LinearRegression()
regression.fit(X_train,Y_train)
LinearRegression()
print(regression.coef_)
print(regression.intercept_)

In [ ]:
prediction = regression.predict(X_test)
prediction

In [ ]:
plt.scatter(Y_test,prediction)
plt.xlabel("test truth data")
plt.ylabel("predicted data")

In [ ]:
residuals = Y_test-prediction
residuals

In [ ]:
sns.distplot(residuals,kde=True)

In [ ]:
plt.scatter(prediction,residuals)

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
print(mean_absolute_error(Y_test,prediction))
print(mean_squared_error(Y_test,prediction))
np.sqrt(mean_squared_error(Y_test,prediction))

In [ ]:
from sklearn.metrics import r2_score
score = r2_score(Y_test,prediction)
print(score)

In [ ]:
1 - (1-score)*(len(Y_test)-1)/(len(Y_test)-X_test.shape[1]-1)

## Ridge regression

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
r_regression = Ridge()
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.33,random_state=42)
X_test

In [ ]:
r_regression = Ridge()
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.33,random_state=42)
X_test

In [ ]:
r_regression.fit(X_train,Y_train)

In [ ]:
print(r_regression.coef_)

In [ ]:
print(r_regression.intercept_)

In [ ]:
r_prediction = r_regression.predict(X_test)
r_prediction

In [ ]:
plt.scatter(Y_test,r_prediction)
plt.xlabel("test truth data")
plt.ylabel("prediction")

In [ ]:
r_residual = Y_test-r_prediction
sns.distplot(r_residual,kde=True)

In [ ]:
plt.scatter(r_prediction,r_residual)

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
print(mean_absolute_error(Y_test,r_prediction))
print(mean_squared_error(Y_test,r_prediction))
np.sqrt(mean_squared_error(Y_test,r_prediction))

In [ ]:
from sklearn.metrics import r2_score
r_score = r2_score(Y_test,r_prediction)
r_score

In [ ]:
1 - (1-r_score)*(len(Y_test)-1)/(len(Y_test)-X_test.shape[1]-1)

## Lasso Regression

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
l_regression = Lasso()
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.33,random_state=42)
X_train

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_test

In [ ]:
l_regression.fit(X_train,Y_train)

In [ ]:
print(l_regression.coef_)

In [ ]:
print(l_regression.intercept_)

In [ ]:
l_prediction = l_regression.predict(X_test)

In [ ]:
plt.scatter(Y_test,l_prediction)
plt.xlabel("test truth data")
plt.ylabel("predicted da|ta")

In [ ]:
l_residual = Y_test-l_prediction
l_residual

In [ ]:
sns.distplot(l_residual,kde=True)

In [ ]:
plt.scatter(l_prediction,r_residual)

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
print(mean_absolute_error(Y_test,l_prediction))
print(mean_squared_error(Y_test,l_prediction))
np.sqrt(mean_squared_error(Y_test,l_prediction))

In [ ]:
from sklearn.metrics import r2_score
l_score = r2_score(Y_test,l_prediction)
l_score

In [ ]:
1 - (1-l_score)*(len(Y_test)-1)/(len(Y_test)-X_test.shape[1]-1)